div{
    height: 80px;
   
    color: rgb(228, 0, 46);
    background-color: rgb(147, 104, 185);
    margin: 20px;
    padding: 15px;
 
}
div:hover{
    background-color: darkblue;
}
div:active{
    background-color: darkcyan;
}